@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blip {
  0%, 70%, 100% { opacity: 1; }
  15%, 55% { opacity: 0.3; }
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  min-width: 0;
}

textarea {
  resize: none;
}

.top-sh {
  box-shadow: 0px 1px 0px 0px rgba(51, 51, 51, 1) inset;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(51, 51, 51, 1) inset;
  -moz-box-shadow: 0px 1px 0px 0px rgba(51, 51, 51, 1) inset;
}

.bottom-sh {
  box-shadow: 0px -1px 0px 0px rgba(51, 51, 51, 1) inset;
  -webkit-box-shadow: 0px -1px 0px 0px rgba(51, 51, 51, 1) inset;
  -moz-box-shadow: 0px -1px 0px 0px rgba(51, 51, 51, 1) inset;
}

.black-in {
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 1) inset;
}

.light-out {
  box-shadow: 1px 1px 1px 0px rgba(55, 55, 55, 1);
  -webkit-box-shadow: 1px 1px 1px 0px rgb(55, 55, 55);
  -moz-box-shadow: 1px 1px 1px 0px rgba(55, 55, 55, 1);
}

.light-out-2 {
  box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75);
}

.light-in-2 {
  box-shadow: 0px -1px 1px 1px rgba(55, 55, 55, 0.75) inset;
  -webkit-box-shadow: 0px -1px 1px 1px rgba(55, 55, 55, 0.75) inset;
  -moz-box-shadow: 0px -1px 1px 1px rgba(55, 55, 55, 0.75) inset;
}

.light-in-out-2 {
  box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 1px 1px rgba(55, 55, 55, 0.75);

  -webkit-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 1px 1px rgba(55, 55, 55, 0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 1px 1px rgba(55, 55, 55, 0.75);
}

.light-in-out-3 {
  box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 2px 0px rgba(55, 55, 55, 0.75);

  -webkit-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 2px 0px rgba(55, 55, 55, 0.75);
  -moz-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 1px 2px 0px rgba(55, 55, 55, 0.75);
}

.light-out-black-in {
  box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 0px 0px 0px rgba(0, 0, 0, 1);

  -webkit-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 0px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 1px 1px rgba(55, 55, 55, 0.75),
    inset 0px 0px 0px 0px rgba(0, 0, 0, 1);
}
